{% extends 'base.html' %}

{% load static %}

{%block links%}
<link rel="stylesheet" href="{% static 'css/cart.css' %} ">
{%endblock%}

{% block scripts%}

{%endblock%}

{% block content %}
<div class="background-image"></div>

{% include 'title_nav2.html' %}


<!-- END OF NAVIGATION WITH TITLE -->
<main>
    {% if not user.is_authenticated%}
    <div class="cart-message">Please login in to see the contents of your cart.</div>
    {% elif nodata%}
    <div class="cart-message">You didn't add anything to your cart yet.</div>
    {% else %}
    <div class="cart-total">
        <div class="cart-totcost">TOTAL: <span>Rs.{{totcost}}</span></div>
        <button type="button">CHECKOUT >>> </button>
    </div>
    <hr class="cart-hr">
    <div class="cart-containers">
        {%for cart_item in cart_items%}
        <div class="cart-container" id="{{cart_item.id}}">
            <div class="cart-delete">X</div>
            <div class="cart-img" style="background-image: url('{{cart_item.print.print_image.url}}');"></div>
            <div class="cart-tag">
                <div class="artby"></div>
                <div class="title">{{cart_item.print.title}}</div>
                <script>
                    $userFirstName = '{{cart_item.user.first_name}}'
                    $userFirstName = $userFirstName.toUpperCase();
                    $("#{{cart_item.id}} .cart-tag .artby").html($userFirstName);
                    cartItemTitle = '{{cart_item.print.title}}'
                    if (cartItemTitle.length > 18) {
                        cartItemTitle = cartItemTitle.substr(0, 15) + "...";
                    }
                    $("#{{cart_item.id}} .cart-tag .title").html(cartItemTitle);
                </script>
                <div class="cost">Rs.{{cart_item.print.cost}}</div>
                <div class="qty">
                    <span id="cart-add">+</span>
                    <p id="cart-contents"> {{cart_item.qty}} </p>
                    <span id="cart-remove">-</span>
                </div>
                <div class="cart-success"></div>
                <script>
                    $(".cart-success").css('display', 'none');
                    $(document).ready(function () {
                        $('#{{cart_item.id}} #cart-add').on('click', function () {
                            printid = '{{cart_item.print.id}}'
                            // console.log(printid)
                            $.ajax({
                                url: '/cart/cartadd/',
                                type: 'GET',
                                headers: {
                                    "X-CSRFToken": '{{csrf_token}}',
                                },
                                data: { 'printid': printid },
                                success: function (data) {
                                    if (!(data.loggedin)) {
                                        $('#login').css('display', 'block');
                                    }
                                    else {
                                        $success = $('#{{cart_item.id}} .cart-success');
                                        if (data.success) {
                                            $success.css('display', 'none');
                                            $cartContents = $('#{{cart_item.id}} #cart-contents');
                                            $cartQty = Number($cartContents.html()) + 1;
                                            $cartContents.html($cartQty);
                                            $('#no_of_contents').html('(' + data.totalqty + ')');
                                            $('.cart-totcost span').html("Rs." + data.totcost);
                                        }
                                        else {
                                            $success.html('Please retry...');
                                            $success.css({ 'display': 'block', 'color': 'red' });
                                        }
                                    }
                                },
                                error: function () {
                                    $success = $('#{{cart_item.id}} .cart-success');
                                    $success.html('Please retry...');
                                    $success.css({ 'display': 'block', 'color': 'red' });
                                }
                            });
                        })

                        $('#{{cart_item.id}} #cart-remove').on('click', function () {
                            printid = '{{cart_item.print.id}}'
                            // console.log(printid)
                            $cartContents = $('#{{cart_item.id}} #cart-contents');
                            if (Number($cartContents.html()) > 1) {
                                $.ajax({
                                    url: '/cart/cartremove/',
                                    type: 'GET',
                                    headers: {
                                        "X-CSRFToken": '{{csrf_token}}',
                                    },
                                    data: { 'printid': printid },
                                    success: function (data) {
                                        if (!(data.loggedin)) {
                                            $('#login').css('display', 'block');
                                        }
                                        else {
                                            $success = $('#{{cart_item.id}} .cart-success');
                                            if (data.success) {
                                                console.log(data.totalqty)
                                                $success.css('display', 'none');
                                                $cartContents = $('#{{cart_item.id}} #cart-contents');
                                                $cartQty = Number($cartContents.html()) - 1;
                                                $cartContents.html($cartQty);
                                                $('#no_of_contents').html('(' + data.totalqty + ')');
                                                $('.cart-totcost span').html("Rs." + data.totcost);
                                            }
                                            else {
                                                $success.html('Please retry...');
                                                $success.css({ 'display': 'block', 'color': 'red' });
                                            }
                                        }
                                    },
                                    error: function () {
                                        $success = $('#{{cart_item.id}} .cart-success');
                                        $success.html('Please retry...');
                                        $success.css({ 'display': 'block', 'color': 'red' });
                                    }
                                });
                            }
                        })

                        $('#{{cart_item.id}} .cart-delete').on('click', function () {
                            printid = '{{cart_item.print.id}}'
                            // console.log(printid)
                            $.ajax({
                                url: '/cart/cartdelete/',
                                type: 'GET',
                                headers: {
                                    "X-CSRFToken": '{{csrf_token}}',
                                },
                                data: { 'printid': printid },
                                success: function (data) {
                                    if (!(data.loggedin)) {
                                        $('#login').css('display', 'block');
                                    }
                                    else {
                                        if (data.success) {
                                            location.reload();
                                        }
                                        else {
                                            $success = $('#{{cart_item.id}} .cart-success');
                                            $success.html('Please retry...');
                                            $success.css({ 'display': 'block', 'color': 'red' });
                                        }
                                    }
                                },
                                error: function () {
                                    $success = $('#{{cart_item.id}} .cart-success');
                                    $success.html('Please retry...');
                                    $success.css({ 'display': 'block', 'color': 'red' });
                                }
                            });
                        })
                    })
                </script>
            </div>
        </div>
        {%endfor%}

    </div>
    {% endif %}
</main>

<!-- Footer section -->
{%endblock content %}