{% extends 'base.html' %}

{% load static %}

{%block links%}

<link rel="stylesheet" href="{% static 'css/blogdetails.css' %}">

{% endblock links%}

{% block content %}
 <div class="background-image"></div> 

{% include 'navforposts.html' %}
<main>
    
    <div class="blog_main_container">
        <div class="background-image"></div> 
       <br><br>
        <h2>{{post.title}}</h2>
         <div class="image_block">
             <img src="{{post.image.url}}">
             <div class="date_name">
             <p id="name">{{post.author.first_name}}</p>   
            
             <p id="date">{{post.published_date}}</p>
            </div>
             <p id="content">{{post.content| linebreaksbr }}</p>
       
         </div>
         <div class="back-button">
         <!-- <button type="button" id="back">--Back--</button> -->
         <a href="{% url 'posts' %}" ><button id="back">Back</button></a>
        </div>
    </div>
</body>
</main>

{% endblock content %}