<!-- <h1>here is the blog</h1> -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="{% static 'css/blogdetails.css' %} ">
   <title>Blog</title>
</head>
<body>
    <div class="blog_main_container">
       
   
        <h2>{{post.title}}</h2>
         <div class="image_block">
             <img src="{{post.image.url}}">
             <div class="date_name">
             <p id="name">{{post.author}}</p>   
            
             <p id="date">{{post.published_date}}</p>
            </div>
             <p id="content">{{post.content| linebreaksbr }}</p>
       
         </div>
    </div>
</body>