   {% comment %} footer content {% endcomment %}
    <div class="divider">
            <div class="back_to_top">
                       <p>top</p>
            </div>
    </div>
         
    <div class="newsletter">
              <!-- <div class="back_to_top">
                   <p>top</p>
               </div>-->
        <!--<div class="sample"></div>-->
            <div class="news_heading">
                   <h3>Subscribe To Our Newsletter</h3>
            <!--<span>subscribe for latest updates and news:)</span>-->
                   <form class="news_box">
                  
                      <input type="text" placeholder="Name*" id="news_name" required>
                      <input type="email" placeholder="Email*" id="news_email" required>
                      <button type="submit" id="subscribe">Subscribe</button>
                   </form>
            </div>
    </div>
    
      
    <div class="footer">
        <footer>
            <div class="footer_content">
                <div class="social">
                      <p>Connect us: </p>
                      
                          <li><a href="#"><i class="fab fa-facebook fa-2x"></i></a></li> 
                          <li><a href="#"><i class="fab fa-instagram fa-2x"></i></a></li> 
                      
                      
                </div>
                <div class="about_contact">
                    <div class="link">
                        <a href="" id="home">HOME</a>
                        <div class="bar"></div>
                    </div>
                    <div class="link">
                        <a href="#" id="about">ABOUT</a>
                        <div class="bar"></div>
                    </div>
                    <div class="link">
                        <a href="#" id="contact">CONTACT</a>
                        <div class="bar">
                    </div>

                </div>
            </div>
            <div class="below_footer">
            
            </div>
        </footer>
    </div>
    <div class="copyright_part">
        <p>&copy@2021 designed by team The Art Club | All rights reseved </p>
    </div>
