<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/gallery.css">
    <script defer type="text/javascript" src="js/gallery.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="search">
        <form action="#" method="get">
            <input type="text" placeholder="Search for the Artist...">
            <button><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>
    <div class="image-containers">
        <div class="container">
            <div class="overlay">
                <div class="art heart"><i class="fa fa-heart-o nofill" aria-hidden="true"></i>
                    <i class="fa fa-heart fill" aria-hidden="true"></i>
                </div>
                <div class="art title">
                    <p>Flower Embroidery Hoop Art</p>
                    <hr>
                </div>
                <div class="art artby">
                    <div class="first">Art By:</div>
                    <div class="second">Name</div>
                </div>
            </div>
        </div>
    </div>
    <div class="image-display">
        <div class="close"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
        <div class="image-fulldisplay"><img src="images/art4.jpg" alt="art1">
        </div>
    </div>

    <div class="addart">
        <i class="fa fa-plus fa-1" aria-hidden="true"></i>
    </div>

    <div class="addart-form">
        <div class="close">X</div>
        <form class="addart-actualform"action method="post">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" name="title" id="title" class="form-controll" required/>
            </div>
            <div class="form-group">
              <label for="caption">Your name  <span>(Artist name)</span></label>
              <input type="text" name="caption" id="caption" class="form-controll" required/>
            </div>
            
            <div class="form-group file-area">
                  <label for="images">Images  <span>(Your images should be at least 400x300 wide and less than 1MB)</span></label>
              <input type="file" name="images" id="images" required="required" accept="image/*" />
              <div class="file-dummy">
                <div class="success">Great, your file is selected.</div>
                <div class="default">Please upload an image</div>
              </div>
            </div>
            
            <div class="form-group form-button">
              <button type="submit">Upload your art</button>
              <div class="hoverbar"></div>
            </div>
            
          </form>
             
          
    </div>
</body>

</html>