<!-- main title -->

<div class="main-title">
    <div class="main-title-1">The</div>
    <div class="main-title-2">Art</div>
    <div class="main-title-3">Club</div>
</div>
<nav class="nav-bar2">
    <nav class="desktop">
        <div class="link">
            <a href="/">HOME</a>
            <div class="bar"></div>
        </div>
        <div class="link">
            <a href="/blogs/">BLOG</a>
            <div class="bar"></div>
        </div>
        <div class="link">
            <a href="/gallery/">GALLERY</a>
            <div class="bar"></div>
        </div>
        <div class="link">
            <a href="/prints/">PRINTS</a>
            <div class="bar"></div>
        </div>
        <div class="link">
            <a href="#">EVENTS</a>
            <div class="bar"></div>
        </div>
    </nav>
    <nav class="mobile">
        <div id="menu-icon" class="menu-icon">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
            <div class="links">
                <div class="link">
                    <a href="/">HOME</a>
                    <div class="bar"></div>
                </div>
                <div class="link">
                    <a href="/blogs/">BLOG</a>
                    <div class="bar"></div>
                </div>
                <div class="link">
                    <a href="/gallery/">GALLERY</a>
                    <div class="bar"></div>
                </div>
                <div class="link">
                    <a href="prints/">PRINTS</a>
                    <div class="bar"></div>
                </div>
                <div class="link">
                    <a href="#">EVENTS</a>
                    <div class="bar"></div>
                </div>
            </div>
    </nav>
</nav>
<!-- END OF NAVIGATION WITH TITLE -->