*{
    padding: 0;
    margin: 0;
  
}

@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Glegoo&display=swap');
/*From here */
/*.Art_message {
    position: relative;
}
#image{
   
    color:white;
    background-image:url("../image/img2.jpg");
    height : 500px;
    margin-left:  50px;
    margin-right:  50px;
    background-size: cover;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index:1;

}
.textbox{
    width: 300px;
    height: 150px;
    border:2px solid black;
    background-color:rgba(29, 28, 28, 0.219);
    position:absolute;
    opacity:0.8;
    right: 100px;
    bottom: 40px;
    text-align: center;
    padding:30px;
    z-index: 2;
   /* margin-top:50px;
    background-color: rgba(19, 17, 17, 0.671);
    position: fixed;
    width: 350px;
    height: 200px;
    opacity: 0.8;
    text-align: center;
    transform:translate(230%,50%);
    border: 2px solid black;
}
.content{
 
 
  max-width: 550px;
  display: inline-block;
  /*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/
/*to here*/


/*not there@media (max-width:1300px) {
    .textbox{
        transform: translate(100%, 90%);
    }
    .image{
        margin-left:20px;
        margin-right:20px;
    }
}
@media(max-width:890){
    .textbox{
        width:200px;
        height:190px;
        transform: translate(60%, 90%);
    }
}
@media (max-width:870px){
    .textbox{
        transform: translate(20%, 90%); 
    }
}*not there/


/*from here*/
/*@media (max-width:550px ){
    .textbox{
        width:200px;
        height: auto;
        right:80px;
        bottom:40px;
    }
}
@media (max-width:430px) {
    .textbox{
        width:100px;
        height:auto;
        right:80px;
        align-self: center;
        bottom:20px;
        text-align: center;
    }
}
@media (max-width:300px){
    .textbox{
        width:80px;
        height:auto;
        right:70px;
        align-self: center;
        bottom:20px;
        text-align: center;
    }
}to here*/
.content{
    display:flex;
    flex-wrap: wrap;
   /* border: 2px solid black;*/
    background-image:linear-gradient(rgba(104, 65, 65, 0.199),rgba(100, 88, 35, 0)),url("../image/background.jpg");
    height : 500px;
    overflow:hidden;
    flex-direction: row;
    margin-left:  40px;
    margin-right:  40px;
    background-size: cover;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
    /*z-index:1;*/
    align-items: flex-end;
    justify-content: flex-end;
    
}
.textbox{
    height:200px;
    width: 450px;
    border: 2px solid black;
    line-height: 2rem;
    letter-spacing: 1px;
    margin-bottom: 70px;
    margin-right: 30px;
    text-align: center;
    padding:20px;
    color:whitesmoke;
    padding-top:60px;
    background-color:rgba(17, 14, 14, 0.733);
}
@media (max-width:420px){
    .textbox{
        height:250px;
        width: 300px;
       /* border: 2px solid rgb(0, 0, 0);*/
        margin:10px; 
        text-align: center;
        padding:20px;
    background-color:rgba(17, 14, 14, 0.733);
    }
    .content{
        margin-left: 20px;
        margin-right: 20px;
    }
}
.textbox h1{
    margin-bottom: 13px;
}
.Container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /*border: 2px solid black;*/
    align-items:center;
    margin-left:  40px;
    margin-right:  40px;
    /*padding-top: 30px;*/
    /*background-image:url("../image/beach.jpg") ;*/
    background-color: bisque;
   
   
}
#item1{
    width: 300px;
    height:600px;
    /*border: 1px solid black;*/
    margin-top:20px;
   margin-bottom:20px;

  
}
#item2{
    width: 300px;
    height:600px;
    /*border: 1px solid black;*/
   margin-top:20px;
   margin-bottom:20px;

    
}
#item3{
    width: 300px;
    height:600px;
    /*border: 1px solid black;*/
    margin-top:20px;
    margin-bottom:20px;
   }
#item4{
    width: 300px;
    height:600px;
    /*border: 1px solid black;*/
    margin-top:20px;
    margin-bottom:20px;
  
}
@media (max-width:1690) and (min-width:500){
    #item2 {
        width:360px;
        height:600px;
        overflow:hidden;
    }
    #item1{
        width:360px;
        height:600px;
        overflow:hidden;
    }
    #item3{
        width:360px;
        height:600px;
        overflow:hidden;
    } 
    #item4{
        width:360px;
        height:600px;
        overflow:hidden;
    } 
}

@media screen and (max-width:500px){
    #item2 {
        width:250px;
        height:600px;
        overflow:hidden;
    }
    #item1{
        width:250px;
        height:600px;
        overflow:hidden;
    }
    #item3{
        width:250px;
        height:600px;
        overflow:hidden;
    }
    #item4{
        width:250px;
        height:600px;
        overflow:hidden;
    
    }
    
}
@media (max-width:420px){
    .Container{
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media (max-width:320px){
    #item2 {
        width:200px;
        height:600px;
        overflow:hidden;
    }
    #item1{
        width:200px;
        height:600px;
        overflow:hidden;
    }
    #item3{
        width:200px;
        height:600px;
        overflow:hidden;
    } 
    #item4{
        width:200px;
        height:600px;
        overflow:hidden;
    } 
}


/*.tip_content .tip_content_overlay{
    background: rgba(167, 120, 120, 0.007);
    
    left:0;
    bottom:20px;
    right:0;
    top:0;
    opacity:0 ;
    -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.tip_content:hover .tip_content_overlay{
    opacity: 1;
}
.tip_content_details{
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.tip_content:hover .tip_content_details{
    top:50%;
    left:50%;
    opacity:1;
}
.tip_content_details h2{
    color:blue;
    text-transform:capitalize;
    letter-spacing:2px;
    font-weight:500;
    margin-bottom:10px;
}
.tip_content_details p{
    color:blue;
    font-size:40px;
}
.fadeIn_bottom{
    top:80%;
}*/




.tip_content {
    position: relative;
   overflow: hidden;
}
.tip_content .tip_content_overlay{
    background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  /*left: 0;
  top: 0;
  bottom: 0;
  right: 0;*/
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
.tip_content:hover .tip_content_overlay{
    opacity: 1;
}
.tip_content_details{
    position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  /*-webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);*/
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.tip_content:hover .tip_content_details{
    top: 50%;
  left: 50%;
  opacity: 1;
}
.tip_content_details h2{
    color:white;
    font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.tip_content_details p{
    color: #fff;
  font-size: 0.8em;
}
.fadeIn_bottom{
    top:90%;
}
.newsletter{
    background-color: bisque;
   display: flex;
   justify-content: center;
   align-items: center;
   height:550px;
    margin-left: 40px;
    margin-right: 40px;
    overflow-x: hidden;
}
#title{
    text-align: center;
    font-family: 'Akronim', cursive;
    font-weight: 600;
    padding-top:20px ;
    font-size: 40px;
    letter-spacing:2px;
}
#description{
    text-align: center;
    font-family: 'Glegoo', serif;
    font-weight: 200;
    padding-top:20px ;
    font-size: 17px;
    letter-spacing:2px;
}
@media (max-width:420px){
    .newsletter{
        margin-left: 20px;
        margin-right: 20px;
    }
    #title{
        font-size: 30px;
        font-weight: 600;

    }
}
/*#fname{
    font-size:25px;
    font-family: 'Glegoo', serif;
    text-align: center;
    margin-left: 300px;
}
.news_box input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color:bisque;
    margin-top: 100px;
    font-size: 25px;
    text-align: center;
    
}
#mail{
    font-size:25px;
    font-family: 'Glegoo', serif;
    text-align: center;
    margin-left: 200px;
}*/
/*Second time 
.newsletter{
    display:grid;
    border: 2px solid black;
    grid-template-columns: auto;
    grid-template-rows:auto;
    grid-template-areas: "";
    
}
#title{
    grid-column-start: 1;
    grid-column-end: 3;
}
#description{
    grid-column-start: 1;
    grid-column-end: 3;
}
.news_box{
    display: flex;
    flex-direction: column;
    /*border: 1px solid black;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
/*.news_name{
    /*border: 2px solid black;
    
}
.news_email{
    /*border: 2px solid black;
    
}
.news_submit{
   /* border: 2px solid black;
    
}
.news_name input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color:bisque;
    font-size: 50px;
    text-align: center;
    
}
.news_email input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color:bisque;
    font-size: 50px;
    text-align: center;
    
}
#fname{
    font-size:25px;
    font-family: 'Glegoo', serif;
    text-align: center;
    
}
#mail{
    font-size:25px;
    font-family: 'Glegoo', serif;
    text-align: center;
}
.news_submit button{
    width:100px;
    height:40px;
    font-size: 10px;
    font-family:'Glegoo', serif; 
    background-color: black;
    color:whitesmoke
}*/
.news_box{
    text-align: center;

}
.news_name,
.news_email{
  font-family: 'Glegoo', serif; 
  font-size: 30px;
  font-weight: 300;
  margin-top: 50px;
  margin-left: 20px;
}
.news_name input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color:bisque;
    font-size: 25px;
    width:600px;
    
    
}
.news_email input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color:bisque;
    font-size: 25px;
    width:600px;
}
.news_submit button{
    background-color: black;
    color:whitesmoke;
    width:200px;
    height: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.form{
    border:2px solid black;
  
    margin-right: 20px;
    margin-left: 20px;
    width:1000px;
    background: linear-gradient(rgba(0, 0, 0, 0.521),rgba(0, 0, 0, 0.521));
   

}
@media screen and (max-width:820px) {
    .form{
        width:500px;
    }

    .news_email input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color:bisque;
    font-size: 25px;
    width:250px;
}
.news_name input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color:bisque;
    font-size: 25px;
    width:250px;
}

}
.footer{
    background-color: rgb(250, 255, 179);
    border:2px solid black;
    margin-left: 40px;
    margin-right:  40px;
    overflow:hidden;
}
.footer_image_part{
    margin-top:30px;
  
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
   
   
}
.footer_image_part #imge2{
 margin-right:40px ;
 border-radius: 50%;
  width:200px;
  height:200px;
  margin-left: 50px;
  
}
#imge1{
    margin-top: 10px;
    border-radius: 50%;
    width:200px;
  height:200px;
  position:relative;
}
.social{
    list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
 
 /* margin: 8px 0 10px 0;*/
}

.social li{
    margin: 10px;
  }
.social a{
    text-decoration: none;
    color: #7e5b5b;
  }
.social a i{
    font-size: 2rem;
    transition: color .4s ease;
  }
.social a:hover i{
    color: SkyBlue;
  }
.footer_container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    /*border: 2px solid black;*/
}
/*.footer_left_part{
    /*border: 2px solid black;
    width:600px;
    margin-left: -100px;
    height:300px;
    margin-top: 30px;
    position:relative;
}*/
.footer_info{
   /* border: 2px solid black;*/
    width: 280px;
    margin-top: 30px;
    height:200px;
    background-color: rgb(253, 253, 247);
    padding-top:30px;
    margin-bottom: 20px;
}
.footer_info h2 ,p{
 text-align: center;
 padding: 5px;
}
.fbottom{

    background-color: #7e5b5b;
    height:30px;
    background-position: center;
    
    padding: 7px 0;
    text-align: center;
    margin-left:40px;
    margin-right:40px;
    overflow: hidden;
  }
  .fbottom p{
    font-size: 12px;
    word-spacing: 2px;
    text-transform: capitalize;
    font-weight: 6px;
  }
  .fbottom span{
    text-transform: uppercase;
    font-weight: 200;
    color: white;
  }
