@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=WindSong&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
:root{
    --font1:'Playfair Display', serif;
    --font21:'Ephesis', cursive;
    --font22:'Dancing Script', cursive;
    --font3:'WindSong', cursive;
    --font4:'Work Sans', sans-serif;
}
body{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    background-color:rgb(224, 199, 161);
}

/* Navigation bar */

nav.nav-bar{
    display:flex;
    justify-content: space-between;
    padding: 20px;
    background-color:rgb(233, 249, 250);
}

nav.nav-bar .nav-left{
    display:flex;
}
nav.nav-bar .nav-left .menu-icon{
    display:flex;
    flex-direction:column;
    margin-right: 10px;
}
nav.nav-bar .nav-left .menu-right{
    position:absolute;
    right:10vw;
}
nav.nav-bar .nav-left .menu-icon .bar{
    width:18px;
    height:2px;
    margin:2px 0;
    background-color: black;
}
.bar-rotate1{
    transform:rotate(45deg) translateY(8.5px);
}
.bar-rotate2{
    transform:rotate(-45deg) translateY(-8.5px);
}
nav.nav-bar div.links{
    display:flex;
}
nav.nav-bar div.links div.link{
    margin:0 1vw;
}
nav.nav-bar div.links div.link div.bar{
    width:100%;
    transform: scale(0);
    height:1.5px;
    margin-top: 3px;;
    transition: transform .3s ease-in-out;
    background-color: black;
}
nav.nav-bar div.links div.link:hover div{
    transform: scale(1);
}
nav.nav-bar div.links a{
    color:black;
    font-family: var(--font4);
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    letter-spacing:0.2vw;
}

@media screen and (min-width:550px) {
    nav.nav-bar .nav-left div.links{
        margin-right:calc(100vw / 20);
    }
    nav.nav-bar div.links div.link{
        margin:0 1.5vw;
    }
    nav.nav-bar div.links a{
        font-size: 14px;
    }
}
  
/* Title */

 .main-title{
     position: relative;
     --size:20px;
     background-color:white;
     width:100vw;
     height:max-content;
     margin:0px;
     font-size: var(--size);
     text-align: center;
    padding:20vh 0 10vh 0;
 }
 .main-title-1{
     font-family: var(--font1);
     font-size:35px;
 }
 .main-title-2{
     font-family: var(--font22);
     font-size: 70px;
     
 }
 .main-title-3{
     font-family:var(--font3);
     font-size:65px;
 }

 /* Navigation bar 2 */

nav.nav-bar2 .desktop{
    display:none;
}
nav.nav-bar2 .mobile{
    position:absolute;
}
@media screen and (min-width:650px){
    nav.nav-bar .nav-left .menu-icon{
        display:none;
    }
    nav .nav-bar .nav-left .menu-icon .bar{
        display:none;
    }
    nav.nav-bar2 .mobile{
        display:none;
    }
    nav.nav-bar2 .desktop{
        display:flex;
        justify-content: space-around;
        background-color:rgb(255, 233, 233);
        width:80%;
        padding:7vh 10% 10vh 10%;
        border-radius: 0 100vw ;
    }
    nav.nav-bar2 .desktop .link a{
        color:black;
        font-family: var(--font4);
        font-weight: bold;
        font-size: 14px;
        text-decoration: none;
        letter-spacing:0.2vw;
    }
    nav.nav-bar2 .desktop .link .bar{
        width:100%;
        transform: scale(0);
        height:1.2px;
        margin-top: 3px;;
        transition: transform .3s ease-in-out;
        background-color: black;
    }
    nav.nav-bar2 .desktop .link:hover .bar{
        transform: scale(1);
    }
}
