@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=WindSong&display=swap');
:root{
    --font1:'Birthstone', cursive;
    --font2:'Ephesis', cursive;
    --font3:'WindSong', cursive;
}
body{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
 .main-title{
     --size:50px;
     background-color:white;
     width:100vw;
     height:50vh;
     margin:0px;
     font-size: var(--size);
     text-align: center;
     vertical-align: middle;
 }
 .main-title-1{
     font-family: 'Times New Roman', Times, serif;
 }
 .main-title-2{
     font-family: var(--font1);
 }
 .main-title-3{
     font-family:var(--font3);
 }
