body{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
 .title{
     --size:10vh;
     background-color:rgb(170, 150, 124);
     ;width:100vw;
     height:100vh
     margin:0px;
     font-size: var(--size);
     padding:calc(50vh - 3*var(--size)) calc(50vw - 2*var(--size));
 }