@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
:root{
    --font1:'Birthstone', cursive;
    --font2:'Ephesis', cursive;
}
body{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
 .title{
     --size:10vh;
     background-color:rgb(170, 150, 124);
     width:100vw;
     height:100vh;
     margin:0px;
     font-size: var(--size);
     text-align: center;
     vertical-align: middle;
 }
 